.scrollbar-hide,
html,
body {
  scrollbar-width: none !important;      /* Firefox */
  -ms-overflow-style: none !important;   /* IE 10+ */
}

/* Chrome, Edge, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
